/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* header */
.header {
    background-color: orchid;
    height: 140px;
    margin-bottom: 30px;
}

/* first section khaki  */
.hero {
    background-color: khaki;
    height: 500px;
    margin-bottom: 30px;
}

.leadership {
    background-color: dodgerblue;
}

.leadership-title {
    background-color: lightblue;
    height: 85px;
}

.row {
    padding: 20px 0;
}

.col-left, .col-center, .col-right {
    float: left;
    background-color: lightblue;
}

.col-left, .col-right{
    width: 20%;
}

.col-center{
    width: calc(60% - 40px);
    margin: 0 20px;
}

/* footer */
.footer {
    height: 60px;
    background-color: blueviolet;
    margin: 10px 0 20px 0;
}