/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 80%;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.centered-background {
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
    font-size: 35px;
}

/* header */
.header {
    margin-bottom: 30px;
}

.logo {
    border-right: 1px solid gainsboro;
    padding-right: 20px;
    height: 70px;
    margin-bottom: 40px;
}

.menu {
    list-style: none;
}

.link-nav {
    display: inline-block;
}

.menu .link-nav a {
    color: darkgray;
    text-decoration: none;
}

nav{
    word-spacing: 10px;
}

/* first section khaki  */
.hero {
    height: 500px;
    margin-bottom: 30px;
    background-image: url(../img/banner.jpg);
    color: white;
}

.hero-txt {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 50%;
}

.hero-txt h3 {
    font-size: 28px;
    font-weight: 400;  
}

.hero-txt p {
    font-size: 14px;
}

.leadership-title {
    height: 85px;
}

.leadership-title p {
    color: rgba(0,0,0,0.4);
}


.row {
    padding: 20px 0;
}

.col-left, .col-center, .col-right {
    float: left;
}

.col-left, .col-right{
    width: 20%;
}

.col-center{
    width: calc(60% - 40px);
    margin: 0 20px;
}

.img-left, .img-center, .img-right {
    position: relative;
    margin-bottom: 30px ;
    height: 200px;
}
.img-left {
    background-image: url(../img/img-1.jpg);
}

.img-center {
    background-image: url(../img/banner-2.jpg);
}

.img-right {
    background-image: url(../img/img-3.jpg);
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.row h5 {
    margin-bottom: 10px;
    color: rgba(0,0,0,0.7);
}

.row p {
    color: rgba(0,0,0,0.4);
}

/* footer */
.footer {
    text-align: center;
    margin: 20px 0 20px 0;
    padding-bottom: 30px;
}

.heart {
    color: red;
    font-size: 28px
}



